{% extends 'blog/base.html' %}

{% block content %}
<header class="page-header backblob">
    <div class="container">
        <h1 class="center"><a href="/">Writer's Blob</a></h1>              
    </div>
  </header>

<main class="container">
    <div class="row">
        <div class="col">
            <article class="post">
                <h2>About ... this blog</h2>
                <p>
                    For the longest time, these stories lived in my drawer. Now they've found the key and are disgruntled by their long captivity.
                    Upon their insistence, I am publishing them here. Let's see if they'll fly or if I'll have to clean up the stains afterwards.
                </p>
                
                <h2>About ... me</h2>
                <p>I'm a physics student with side quests. Apparently, throwing stories from great heights is one of them.</p>
            </article>
        </div>
    </div>
</main>
{% endblock %}