{% extends 'blog/base_with_banner.html' %}

{% block content %}


<main class="container">
    <div class="row">
        <div class="col">
            <article class="post">
                <h2>About</h2>
                <p>
                I'm a physics student with side quests. Writing short stories is one of them, though I occasionally also write poetry and essays.
                For far too long, my drawer has been a hostage situation for unpublished short stories, and this blog is the result of their negotiations with me. I'm just as curious as you are about what they will do with their freedom.
                There might pop up one or two physics-related posts in the future, but for the most part, this blog is entirely physics-unrelated.

                If you were hoping to find information for my <em>magnificent</em> illustrator (no, I'm just kidding) I have to disappoint you, since the art is also by me.
                The web-development too. I'm an amateur at a lot of things.

                Enjoy!
                </p>
            </article>
        </div>
    </div>
</main>
{% endblock %}