
/* General */
a{
    color:#00916b;
}

h1{
    font-family:  'Rubik Maps';
}
h2,
h3,
h4 {
    font-family: "Ubuntu",'Montserrat','Playfair Display',"Rubik Maps",'Montserrat Underline';
    font-weight: 900;
}

.fancyfont{
    font-family:  'Rubik Maps';
}
p{
    font-family: "Ubuntu";
}

h2 a,
h2 a:visited,
h2 a:active{
    text-decoration: none;
    /**/
}

/* Navbar */
.logout-btn,
.logout-btn:active,
.logout-btn:visited,
.logout-btn:hover{
    background-color: transparent;
    border: none;
    color:#adb5bd;
    margin-top: -1px;
    /*padding: 0 0 10px 7px;*/
}

.hello{
    padding-right: 5px;
}



.navbar-brand{
    padding: 0 10px;
    font-size: 20pt;
    font-family: "Rubik Maps";
}

/* Banner */
.center{
    text-align: center;
}

.page-header {
    background-color:  #00916b;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 100px 20px 100px 40px;
    /*mask-image: url("../images/Mask1.png");
    mask-repeat: no-repeat;*/
    background-image: url("../images/Backblob_edit.png");
    background-size: cover;
    background-position: 50% 90%;/*center bottom;*/
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    }

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 50pt;
    text-decoration: none;
}


/* Post-form */
.post-form{
    border-radius: 20px;
    padding: 20px;
}

.post-form textarea,
.post-form input {
    width: 100%;
    
}

/* Post detail */
.post-title{
    margin-bottom:0px;
}
.post-image-blurry{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*filter:blur(10px);*/
    margin-bottom: 40px;
    height: 250px;

}

.post-image-sharp{
    max-height: 300px;
    max-width: 80%;
    width:auto;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top:-250px;
    filter:blur(0);
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(128, 126, 126);
    margin-bottom: 70px;
}
.comment {
    margin: 20px 0px 20px 20px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 20px;

}

.comment-form{
    padding-bottom: 60px;
}

.post-form input,
.post-form textarea,
.post-form input input{
    border-radius: 10px;
    border-width: 0;
}

/* post-list*/

.thumbnail-div{
    /*text-align: right;*/
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(128, 126, 126);
    
    /*50px 20px;*//*75px 20px 20px 75px;*/
}

.post-row{
    margin-bottom: 50px;
}

.post {
    padding-left: 10px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date-right,
.comment > .date-right,
.post > .comment-number,
.post > .actions {
    float: right;
    text-align: right;
}

.action-btn{
    margin-bottom:5px;
    margin-right: -70px;
    margin-left: 10px;
}
.comment-number{
    display:block;
    text-decoration: none;
    text-align:right;
}

.date-right{
    padding-left:10px;
    color: #828282;
    display:block;
}
.date{
    
    color: #828282;
}
div .small-tagbox{
    margin: -5px 0 5px 0;
}
div .tagbox{
    margin-top:10px;
    margin-bottom: 20px;
}
.tag,
.tag a:active,
.tag a:hover,
.tag a:visited{
    padding: 3px 7px;
    font-family: "Ubuntu";
    border-radius: 20px;
    text-decoration: none;
    font-size: 10pt;
    color:white;
    box-shadow: 0px 0px 5px rgb(128, 126, 126);
}

.big-tag,
.big-tag a:active,
.big-tag a:hover,
.big-tag a:visited{
    padding: 5px 13px;
    font-family: "Ubuntu";
    border-radius: 20px;
    text-decoration: none;
    font-size: 20pt;
    color:white;
    box-shadow: 0px 0px 5px rgb(128, 126, 126);
}

.save {
    float: right;
}


/* collapsible box */

.collapsible {
    background-color: #00916b;
    color: white;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    transition: border-radius 0.2s ease-out;
    font-family: "Ubuntu";
  }
  
.active, .collapsible:hover {
    background-color: #00563f;

}

.active{
    border-radius: 15px 15px 0 0;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;

}

.collapsible.active:after {
    content: "\2212";

}


.content {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    border-radius: 0 0 15px 15px;
    font-family: "Ubuntu";
}

.content-warning-box{
    margin-bottom: 20px;
}

.authors-comment-box{
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.authors-comment{
    background-color: #303030;
    color: #ffffff;
}

.authors-comment p{
    padding: 10px;
}